{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block url_widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock url_widget %}


{% block form %}
    {% spaceless %}
        {{ form_start(form, { 'style': 'horizontal' }) }}
        {#{ form_start(form, { 'style': 'inline' }) }#}
        {{ form_errors(form, { 'global_errors': true }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endspaceless %}
{% endblock form %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty and label is not sameas(false) %}
            {% set label = name|humanize %}
        {% endif %}
        {% if type is defined and (type == 'submit' or type == 'reset') %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-lg btn-'~button_class|default('primary'))|trim }) %}
        {#% elseif type is defined and type == 'search' %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('primary'))|trim }) %#}
        {% else %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('default'))|trim }) %}
        {% endif %}
        {% if as_link is defined and as_link == true %}
            <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</a>
        {% else %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</button>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}
