{% extends '::base.html.twig' %}

{% block title %}Ingresar informaci贸n personal{% endblock %}

{% block stylesheetExtra %}
    <link href="{{ asset('css/bs-wizard.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body -%}

    <div class="row bs-wizard" style="border-bottom:0;">
        
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Paso 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="{{ path('proceso_buscar') }}" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Buscar persona</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">Paso 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <div class="bs-wizard-dot"></div>
          <div class="bs-wizard-info text-center">Ingresar informaci贸n personal</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">Paso 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <div class="bs-wizard-dot"></div>
          <div class="bs-wizard-info text-center">Ingresar domicilio</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">Paso 4</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <div class="bs-wizard-dot"></div>
          <div class="bs-wizard-info text-center">Confirmaci贸n de solicitud</div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Ingresar informaci贸n personal</h1>
        </div>
        <div class="panel-body">
        {{ form(personaForm) }}
        </div>
    </div>
{#}
    <div class="btn-group-lg pull-right">
        <a class="btn btn-primary" href="{{ path('proceso_buscar') }}"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
        <a class="btn btn-primary" href="{{ path('proceso_domicilio', {'id': 0}) }}"><span class="glyphicon glyphicon-arrow-right"></span> Siguiente</a>
    </div>
{#}
{% endblock %}