{% extends '::base.html.twig' %}

{% block title %}Ruta{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('rutas') }}">Rutas</a></li>
        <li class="active">Ver Ruta</li>
    </ol>
    {% for flashMessage in app.session.flashbag.get('noticia') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Ruta N° {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                <dt>Fecha de Creación:</dt><dd>{{ entity.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</dd>
                <dt>Última Actualización:</dt><dd>{{ entity.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</dd>
                <dt>Estado:</dt><dd>{{ entity.estado.nombre }}</dd>
                <dt>Encuestador:</dt><dd>{% if entity.encuestador %}<a href="{{ path('encuestadores_show', { 'id': entity.encuestador.id }) }}">{{ entity.encuestador.nombrecompleto }}</a>{% else %}No tiene encuestador asignado{% endif %}</dd>
                <dt>N° Solicitudes:</dt><dd>{% if entity.solicitudes.count %}{{ entity.solicitudes.count}}{% else %}No hay solicitudes asignadas a la ruta{% endif %}</dd>  
            </dl>
        </div>
        {% if entity.solicitudes.count %}
        <div class="table-responsive">
            <table class="records_list table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Solicitante</th>
                        <th>Fecha de Registro</th>
                        <th>Tipo</th>
                        <th>Domicilio</th>
                        <th>Unidad Vecinal</th>
                        {% if entity.estado.codigo != 'R00' %}
                            <th>Resolución</th>
                        {#{% else %}
                            <th>Estado Solicitud</th>#}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for solicitud in solicitudes %}
                    <tr class='clickableRow' href="{{ path('solicitudesfichasocial_show', { 'id': solicitud.id }) }}">
                        <td>{% if solicitud.persona %}{{ solicitud.persona.primernombre }} {{ solicitud.persona.primerapellido }}{% endif %}</td>
                        <td>{% if solicitud.createdAt %}{{ solicitud.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                        <td>{% if solicitud.tipo %}{{ solicitud.tipo.nombre }}{% endif %}</td>
                        <td>
                            {% if solicitud.domicilio %}
                                {% if solicitud.domicilio.calle %}{{ solicitud.domicilio.calle }}{% endif %}
                                {% if solicitud.domicilio.numero %} {{ solicitud.domicilio.numero }}{% endif %}
                                {% if solicitud.domicilio.poblacion %} {{ solicitud.domicilio.poblacion }}{% endif %}
                                {% if solicitud.domicilio.edificio %} {{ solicitud.domicilio.edificio }}{% endif %}
                                {% if solicitud.domicilio.departamento %} {{ solicitud.domicilio.departamento }}{% endif %}
                                {% if solicitud.domicilio.casa %} {{ solicitud.domicilio.casa }}{% endif %}
                                {% if solicitud.domicilio.chacra %} {{ solicitud.domicilio.chacra }}{% endif %}
                                {% if solicitud.domicilio.parcela %} {{ solicitud.domicilio.parcela }}{% endif %}
                                {% if solicitud.domicilio.paradero %} {{ solicitud.domicilio.paradero }}{% endif %}
                                {% if solicitud.domicilio.sector %} {{ solicitud.domicilio.sector }}{% endif %}
                            {% endif %}
                        </td>

                        <td>{% if solicitud.domicilio %}{{ solicitud.domicilio.unidad}}{% endif %}</td>
                        {% if entity.estado.codigo != 'R00' %}
                        <td>
                            <div class="btn-group">
                                {% if solicitud.estado.codigo != 'S00' %}{#% if solicitud.estado.codigo starts with 'P' %#}
                                    <a class="btn btn-success" href="{{ path('solicitudesfichasocial_conclude', { 'id': solicitud.id }) }}">{{ solicitud.estado.codigo }}</a>
                                {% else %}
                                    <a class="btn btn-warning" href="{{ path('solicitudesfichasocial_conclude', { 'id': solicitud.id }) }}">Ingresar resolución</a>
                                {% endif %}{#% endif %#}
                            </div>
                            {#% elseif entity.estado.codigo == 'R10' %}
                            <div class="btn-group">
                                {% if solicitud.estado.codigo == 'P14' and not solicitud.archivo %}
                                    <a class="btn btn-warning" href="{{ path('solicitudesfichasocial_foil', { 'id': solicitud.id }) }}">Asignar folio</a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('solicitudesfichasocial_foil', { 'id': solicitud.id }) }}">{{ solicitud.folio }}</a>
                                {% endif %}
                            </div>{#}
                            {#{% else %}
                                {% if solicitud.estado %}{{ solicitud.estado.nombre}}{% endif %}#}
                        </td>
                        {% endif %}
                        {#<td>{% if solicitud.updatedAt %}{{ solicitud.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>#}
                        {#<td>{% if solicitud.estado %}{{ solicitud.estado.codigo }} - {{ solicitud.estado.nombre }}{% endif %}</td>#}
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block actionbar %}
    <div class="col-xs-4">
        <div class="btn-group-lg">
            {{ form(execute_form, {'label_col': 0, 'widget_col': 4 }) }}
        </div>
    </div>
    <div class="col-xs-8">
        <div class="btn-group-lg pull-right">
            <a class="btn btn-primary" href="{{ path('rutas_pdf', { 'id': entity.id }) }}" target="_blank"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
            <a class="btn btn-primary" href="{{ path('rutas_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span>{% if entity.encuestador %} Modificar Ruta{% else %} Asignar Encuestador o Modificar Ruta{% endif %}</a>
        </div>
    </div>
{% endblock %}
