{% extends '::base.html.twig' %}

{% block title %}HistorialPersonaUsuario{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('historialpersonausuario') }}">HistorialPersonaUsuario</a></li>
        <li class="active">Ver HistorialPersonaUsuario</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>HistorialPersonaUsuario ID: {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                <dt>Descripcion</dt><dd>{{ entity.descripcion }}</dd>
                <dt>Createdat</dt><dd>{{ entity.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</dd>
            </dl>
        </div>
    </div>
    
{% endblock %}
{% block actionbar %}
    <div class="col-xs-12">
        <div class="btn-group-lg pull-right">
            <a class="btn btn-primary" href="{{ path('historialpersonausuario_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
        </div>
    </div> 
{% endblock %}