{% extends '::base.html.twig' %}

{% block title %}EventoSolicitud{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('eventossolicitud') }}">EventoSolicitud</a></li>
        <li><a href="{{ path('eventossolicitud_show', { 'id': entity.id }) }}">Ver EventoSolicitud</a></li>
        <li class="active">Editar EventoSolicitud</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Editar EventoSolicitud ID: {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
        {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
