{% extends '::base.html.twig' %}

{% block title %}EventoSolicitud{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li class="active">EventoSolicitud</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>EventoSolicitud</h1>
        </div>
        <div class="table-responsive">
            <table class="records_list table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Createdat</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class='clickableRow' href="{{ path('eventossolicitud_show', { 'id': entity.id }) }}">
                        <td>{{ entity.descripcion }}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd-LLL-Y - HH:mm") }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-group-lg pull-right">
        <a class="btn btn-primary" href="{{ path('eventossolicitud_new') }}"><span class="glyphicon glyphicon-file"></span> Nuevo</a>
    </div>
{% endblock %}
