{% extends '::base.html.twig' %}

{% block javascriptExtra %}<script src="{{ asset('js/domicilio.js') }}"></script>{% endblock %}

{% block title %}Domicilio{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('domicilios') }}">Domicilios</a></li>
        <li class="active">Nuevo Domicilio</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Nuevo Domicilio</h1>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-2">Nombre</label>
                    <div class="col-lg-10"><input type="text" value="{{ entity.persona.primernombre }} {{ entity.persona.segundonombre }} {{ entity.persona.primerapellido }} {{ entity.persona.segundoapellido }}" class="form-control" readonly></div>
                </div>
            </form>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
