{% extends '::base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('personas') }}">Persona</a></li>
        <li><a href="{{ path('personas_show', { 'id': entity.id }) }}">Ver Persona</a></li>
        <li class="active">Editar Persona</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Editar Persona ID: {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
        {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
