<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ficha Social - Ingreso</title>

    <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" type="text/css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1 class="text-center">Ficha Social</h1>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Ingreso de Usuarios</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('login_check') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control text-center" id="username" placeholder="Usuario" name="_username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control text-center" id="password" placeholder="Password" name="_password" type="password" value="">
                                </div>
                                {#}
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                                {#}
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.11.2/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/jquery.Rut.js') }}"></script>
    <script src="{{ asset('js/autocompleter.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

</body>

</html>
