{% extends '::base.html.twig' %}

{% block title %}Estados de Ruta{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('estadosruta') }}">Estados de Ruta</a></li>
        <li><a href="{{ path('estadosruta_show', { 'id': entity.id }) }}">Ver Estado de Ruta</a></li>
        <li class="active">Editar Estado de Ruta</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Editar Estado de Ruta - Código: {{ entity.codigo }}</h1>
        </div>
        <div class="panel-body">
        {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
