{% extends '::base.html.twig' %}

{% block title %}Calle{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('calles') }}">Calle</a></li>
        <li><a href="{{ path('calles_show', { 'id': entity.id }) }}">Ver Calle</a></li>
        <li class="active">Editar Calle</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Editar Calle ID: {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
        {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
