{% extends '::base.html.twig' %}

{% block title %}Encuestador{% endblock %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('root') }}">Inicio</a></li>
        <li><a href="{{ path('encuestadores') }}">Encuestadores</a></li>
        <li><a href="{{ path('encuestadores_show', { 'id': entity.id }) }}">Ver Encuestador</a></li>
        <li class="active">Editar Encuestador</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading nopadding">
            <h1>Editar Encuestador N° {{ entity.id }}</h1>
        </div>
        <div class="panel-body">
        {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
